<% layout('layouts/boilerplate') %>
    <h1>
        <%= trail.title %>
    </h1>
    <h2>
        <%= trail.location %>
    </h2>
    <img src="<%=trail.image%>" alt="">
    <p>
        <%= trail.description %>
    </p>
    <p>
        <a href="/trails/<%=trail._id%>/edit">Edit</a>
    </p>
    <p>
        <form action="/trails/<%=trail._id%>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    </p>
    <footer>

        <a href="/trails">All Trails</a>
    </footer>